<% content_for :title, "Edit your account" %>

<% if @user.unconfirmed_email.present? %>
  <div class="alert alert-warning" role="alert">
    <h2 class="alert-heading h4">You've requested to change your email address</h2>
    <p>We've sent an email to <strong><%= @user.unconfirmed_email %></strong> with a link to confirm the change. If you haven't received this email, we can send it again:</p>

    <%= form_tag resend_email_change_user_path(@user), method: :put, class: "d-md-inline-block" do %>
      <%= submit_tag "Resend confirmation email", class: "btn btn-primary" %>     
    <% end %>  
    
    <%= form_tag cancel_email_change_user_path(@user), method: :delete, class: "d-md-inline-block" do %>
      <%= submit_tag "Cancel email change", class: "btn btn-danger" %>  
    <% end %>    
  </div>
<% end %>

<h2 class="mb-3">Change your email address</h2>

<%= form_for @user, url: update_email_user_path do |f| %>
  <div class="mb-3">
    <%= f.label :email, "Email address", class: "form-label" %>
    <p id="email-hint" class="fw-light">The app has a copy of this. Used in the signin redirect dance.</p>    
    <%= f.text_field :email, class: "form-control", aria: { describedby: (f.object.errors.has_key?(:email) ? "email-errors email-hint" : "email-hint") } %>    
    <%= render "components/errors", {
      attribute: :email,
      resource: f.object
    } %>
  </div>  

  <%= f.submit "Change email", class: "btn btn-primary" %>
<% end %>

<hr class="mt-5 mb-5">

<h2 class="mb-3"><%= t(".change_password") %></h2>

<%= form_for @user, url: update_password_user_path do |f| %>
  <%= render partial: "users/passwords/change_password_panel", locals: { f: f, resource: @user, updating_password: true } %>
<% end %>