<%= form_tag action, method: :patch do |f| %>

<h2 class="h4">Permissions</h2>
  <% @permissions.each_with_index do |permission, index| %>
    <% id = "checkboxes-#{index}" %>    
    <div class="form-check mb-3">
      <%= check_box_tag "application[permission_ids][]", permission.id, user.has_permission?(permission), id:, class: "form-check-input" %>
      <%= label_tag id, permission.name, class: "form-check-label" %>
    </div>
  <% end %>

  <%= hidden_field_tag "application[permission_ids][]", application.signin_permission.id, id: "checkboxes-signin" %>

  <%= submit_tag "Update permissions", class: "btn btn-primary me-3" %>
  <%= link_to "Cancel", cancel_path %>
<% end %>