<% content_for :title, "Suspend or unsuspend #{@user.name}" %>
<% content_for :breadcrumbs do %>
  <nav aria-label="breadcrumb">
    <ol class="breadcrumb">
      <li class="breadcrumb-item"><a href="<%= root_path %>">Home</a></li>
      <li class="breadcrumb-item"><a href="<%= @user.api_user? ? api_users_path : users_path %>"><%= @user.api_user? ? "API users" : "Users" %></a></li>
      <li class="breadcrumb-item"><a href="<%= @user.api_user? ? edit_api_user_path(@user) : edit_user_path(@user) %>"><%= @user.name %></a></li>
    </ol>
  </nav>
<% end %>

<%= form_tag user_suspensions_path(@user), method: "put" do %>
  <p>
    After the user has been unsuspended, they will need to reset their password.
  </p>

  <div class="form-check mb-3">
    <%= check_box :user, :suspended?, class: "form-check-input" %>
    <%= label :user, :suspended?, "Suspended?", class: "form-label" %>
  </div>  

  <div class="mb-3">
    <%= label :user, :reason_for_suspension, "Reason for suspension", class: "form-label" %>
    <%
      css_classes = %w(form-control)
      css_classes << "is-invalid" if @suspension.errors.has_key?(:reason_for_suspension)
    %>
    <%= text_field :user, :reason_for_suspension, class: css_classes, aria: { describedby: (@suspension.errors.has_key?(:reason_for_suspension) ? "reason_for_suspension-errors" : nil) } %>    
    <%= render "components/errors", {
      attribute: :reason_for_suspension,
      resource: @suspension
    } %>
  </div>      

  <%= submit_tag "Save", class: "btn btn-primary" %>
  
<% end %>