<% if defined?(updating_password) && updating_password %>
  <div class="mb-3">
    <%= f.label :current_password, "Current password", class: "form-label" %>
    <%= f.password_field :current_password, class: "form-control", aria: { describedby: (resource.errors.has_key?(:current_password) ? "current_password-errors" : nil) } %> %>
    <%= render "components/errors", {
      attribute: :current_password,
    } %>
  </div>    
<% end %>

<div class="mb-3">
  <%= f.label :password, "New password", class: "form-label" %>
  <%= f.password_field :password, class: "form-control", aria: { describedby: (resource.errors.has_key?(:password) ? "password-errors" : nil) } %>
  <%= render "components/errors", {
    attribute: :password,
  } %>
</div>  

<div class="mb-3">
  <%= f.label :password_confirmation, "Confirm new password", class: "form-label" %>
  <%= f.password_field :password_confirmation, class: "form-control", aria: { describedby: (resource.errors.has_key?(:password_confirmation) ? "password_confirmation-errors" : nil) } %>
  <%= render "components/errors", {
    attribute: :password_confirmation,
  } %>
</div>  

<%= f.submit "Save password", class: "btn btn-primary" %>