<%= form_for @application do |f| %>

  <div class="mb-3">
    <%= f.label :name, "Application name", class: "form-label" %>    
    <%= f.text_field :name, class: "form-control", aria: { describedby: (f.object.errors.has_key?(:name) ? "name-errors" : nil) } %>    
    <%= render "components/errors", {
      attribute: :name,
      resource: f.object
    } %>
  </div>      

  <div class="mb-3">
    <%= f.label :description, "Application description", class: "form-label" %>
    <%= f.text_field :description, class: "form-control", aria: { describedby: (f.object.errors.has_key?(:description) ? "description-errors" : nil) } %>    
    <%= render "components/errors", {
      attribute: :description,
      resource: f.object
    } %>
  </div>     

  <div class="mb-3">
    <%= f.label :home_uri, "Application home URL", class: "form-label" %>
    <p id="home_uri-hint" class="fw-light">Used to link to the app on the dashboard</p>
    <%= f.text_field :home_uri, class: "form-control", aria: { describedby: (f.object.errors.has_key?(:home_uri) ? "home_uri-errors home_uri-hint" : "home_uri-hint") } %>    
    <%= render "components/errors", {
      attribute: :home_uri,
      resource: f.object
    } %>
  </div>       

  <div class="mb-3">
    <%= f.label :redirect_uri, "Redirect URI", class: "form-label" %>
    <p id="redirect_uri-hint" class="fw-light">The app should expect this URI. Used in the signin redirect dance.</p>    
    <%= f.text_field :redirect_uri, class: "form-control", aria: { describedby: (f.object.errors.has_key?(:redirect_uri) ? "redirect_uri-errors redirect_uri-hint" : "redirect_uri-hint") } %>    
    <%= render "components/errors", {
      attribute: :redirect_uri,
      resource: f.object
    } %>
  </div>     
  
  <% if f.object.persisted? %>
    <div class="mb-3">
      <%= f.label :uid, "UID", class: "form-label" %>
      <p id="uid-hint" class="fw-light">The app has a copy of this. Used in the signin redirect dance.</p>    
      <%= f.text_field :uid, class: "form-control", aria: { describedby: (f.object.errors.has_key?(:uid) ? "uid-errors uid-hint" : "uid-hint") } %>    
      <%= render "components/errors", {
        attribute: :uid,
        resource: f.object
      } %>
    </div>

    <div class="mb-3">
      <%= f.label :secret, "Secret", class: "form-label" %>
      <p id="secret-hint" class="fw-light">The app has a copy of this. Used in the signin redirect dance.</p>    
      <%= f.text_field :secret, class: "form-control", aria: { describedby: (f.object.errors.has_key?(:secret) ? "secret-errors secret-hint" : "secret-hint") } %>    
      <%= render "components/errors", {
        attribute: :secret,
        resource: f.object
      } %>
    </div>       
    
    <div class="form-check mb-3">
      <%= f.check_box :retired?, class: "form-check-input" %>
      <%= f.label :retired?, "This application is retired", class: "form-label" %>
    </div>  

    <p>
      Retiring an application will hide the application from the dashboard. It will
      not delete data.
    </p>    
      
  <% end %>


  <%= f.submit "Save application", class: "btn btn-primary" %>  

<% end %>