<%
  content_for :title, t("devise.invitations.new.header")
%>
<% content_for :breadcrumbs do %>
  <nav aria-label="breadcrumb">
    <ol class="breadcrumb">
      <li class="breadcrumb-item"><a href="<%= root_path %>">Home</a></li>
      <li class="breadcrumb-item"><a href="<%= users_path %>">Users</a></li>
      <li class="breadcrumb-item active" aria-current="page">Create user</li>
    </ol>
  </nav>
<% end %>

<div class="row">
  <div class="col-xs-12 col-md-8">
  <%= form_for(resource, as: resource_name, url: invitation_path(resource_name), html: { method: :post }) do |f| %>
    <%= render partial: "users/form_fields", locals: { f: f } %>

    <%= f.submit t("devise.invitations.new.submit_button"), class: "btn btn-primary" %>

  <% end %>
  </div>
</div>